<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accesos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./home_admin.html">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <div id="usernav"></div>
            <li class="nav-item">
              <a class="nav-link" href="#" id="close"><i class="fas fa-sign-out-alt"></i></a>
            </li>
            </li>
          </ul>
        </div>
    </nav>


    <div class="row mx-auto justify-content-center mt-4">
        <div class="col col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Roles</h5>
                </div>
                <div class="card-body table-responsive">
                    
                    <table class="table" id="materias">
                        <thead class="text-center">
                            <tr>
                                <th>Tipo</th>
                                <th>Usuario</th>
                            </tr>
                        </thead>
                        <tbody id="res" class="text-center">
                            <tr>
                                <td>Maestro(a)</td>
                                <td>CASTILLO CASTRO JOSÉ ÁNGEL M.C.</td>
                            </tr>
                            <tr>
                                <td>Maestro(a)</td>
                                <td>MUÑOZ RAMÍREZ MIGUEL ÁNGEL M.A</td>
                            </tr>
                            <tr>
                                <td>Maestro(a)</td>
                                <td>LOZANO GARCÍA ANTONIO CAYETANO M.C</td>
                            </tr>
                            <tr>
                                <td>Maestro(a)</td>
                                <td>LÓPEZ SÁNCHEZ ALICIA YESENIA M.I.</td>
                            </tr>
                            <tr>
                                <td>Maestro(a)</td>
                                <td>MOJICA GARCÍA HAZAEL FERNANDO ING.</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Morales Baltazar Jorge</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Rodriguez Martinez Jorge Arael</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Loredo Silva Juan Ignacio</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Navarro Brito Christian</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Martínez Calderón Stefani Gisell</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Lauro Alejandro Zamarron Peña</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Alvarado Alvarado Daniel Osiel</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Rangel Salas Alan Eduardo</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Pérez de León Gabriel Eduardo</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Irving Alexis Muñoz Diaz</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Kevin Alberto Vega Acevedo</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Puentes Fuentes Diego Mizael</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Santiago Bonora Kevin Fabian</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Gutierrez Leor Francisco Javier</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Guzman Velarde Enrique</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Martínez Izaguirre Nahomi Xiomara</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Cardona Cruz Carlos Alfredo</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Antonio Rodríguez, Gemma Jacqueline</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Jahaira Judith Rojas Pacheco</td>
                            </tr>
                            <tr>
                                <td>Alumno</td>
                                <td>Roberto Cordova Pecina</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  




    <script src="../js/user.js"></script>
    <script src="https://kit.fontawesome.com/2a4ada2490.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>