<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./home_admin.html">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <div id="usernav"></div>
            <li class="nav-item">
              <a class="nav-link" href="#" id="close"><i class="fas fa-sign-out-alt"></i></a>
            </li>
            </li>
          </ul>
        </div>
    </nav>

    <div class="row mx-auto justify-content-center mt-3 text-center">
        <div class="col col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#037">
                        <h6>Grupo 037</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#013">
                        <h6>Grupo 013</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#008">
                        <h6>Grupo 008</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#005">
                        <h6>Grupo 005</h6>
                    </a>
                </div>
            </div>
        </div>

        <div class="col col-md-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#001">
                        <h6>Grupo 001</h6>
                    </a>
                </div>
            </div>
        </div>
    </div>






    <div class="modal fade" id="037" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MICROCITLE">Grupo 037</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mx-auto justify-content-center mt-4">
                        <div class="col col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">CASTILLO CASTRO JOSÉ ÁNGEL M.C.</h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>#</th>
                                            <th>Nombre</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Bonilla Castellanos Angel Michel</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Chávez Ortega Luis Javier</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Jimenez Varela Jose Alfredo</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Medrano Aguilar José Antonio</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Méndez Muñoz Jason</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Herrera Zuñiga Ramiro Alejandro</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Salvador Estrada Treviño</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td> Edgar Rigoberto Espinoza de León</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Salazar Hinojosa Jaime Arturo</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Leyva Castillo, Diego Sebastian</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Castilla valdes angel imanol</td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>Rafael Alejandro Dávila Bañuelos</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Cesar Abelardo Valdez Treviño</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>Pedraza Garay Eugenio</td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td>Felipe de Jesús Enriquez Valdez</td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>Mario Azael Martínez Sandoval</td>
                                            </tr>
                                            <tr>
                                                <td>17</td>
                                                <td> Ulises Dominguez Ruiz</td>
                                            </tr>
                                            <tr>
                                                <td>18</td>
                                                <td>Elizondo Acosta Norbert</td>
                                            </tr>
                                            <tr>
                                                <td>19</td>
                                                <td>Jose Albino Silva Maldonado</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="013" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MICROCITLE">Grupo 013</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mx-auto justify-content-center mt-4">
                        <div class="col col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">MUÑOZ RAMÍREZ MIGUEL ÁNGEL M.A</h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>#</th>
                                            <th>Nombre</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Morales Baltazar Jorge</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Rodriguez Martinez Jorge Arael</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Navarro Brito Christian</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Loredo Silva Juan Ignacio</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Martínez Calderón Stefani Gisell</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Adrián Reyna Díaz</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Jorge Alberto Assad Ramirez</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Charles salas, Alan Alejandro</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Guajardo Rodríguez Abraham</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td> Pardo Soriano Marcelo</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Garza Lugo Victor Manue</td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>Espinosa Figón Juan Francisco</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td> Castillo Aldape Angel Jesus</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>Mauricio Alejandro Rojas Páramo</td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td>Rodrigo Alfonso VIllalobos Guajardo</td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>Avendaño Quiroz Julio Cesar</td>
                                            </tr>
                                            <tr>
                                                <td>17</td>
                                                <td>Luis Alberto Santana Bañuelos</td>
                                            </tr>
                                            <tr>
                                                <td>18</td>
                                                <td>Rodríguez López César Antonio</td>
                                            </tr>
                                            <tr>
                                                <td>19</td>
                                                <td>Jonathan Raul Ramirez Colmenares</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="008" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MICROCITLE">Grupo 008</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mx-auto justify-content-center mt-4">
                        <div class="col col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">LOZANO GARCÍA ANTONIO CAYETANO M.C</h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>#</th>
                                            <th>Nombre</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Rodríguez Prieto Gerardo Gibran</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Gustavo Neftalí Consuelos Mata</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Leos Carrillo José Rene</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Barrón Sandoval Irvin</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Eliud Cámpano</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Castillo Cepeda Jose Martin</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>César Elías Castor González</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Castro Uribe Jesús Ángel</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Rodríguez Cordero Diego Alejandro</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>David Zapiain Dávila</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Hernandez Reyes Feliciano</td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>Flores Villarreal Daniel Noé</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Gómez Guerra Juan Ángel</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>Rojo Salinas José Alberto</td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td> Muro Sakanassi, Jaime Eduardo</td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>Sierra Villarreal Aldo Azael</td>
                                            </tr>
                                            <tr>
                                                <td>17</td>
                                                <td> Andres fuentes salazar</td>
                                            </tr>
                                            <tr>
                                                <td>18</td>
                                                <td>Rodriguez Garcia Edson Alejandro</td>
                                            </tr>
                                            <tr>
                                                <td>19</td>
                                                <td> López Carrillo Raúl Caleb</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="005" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MICROCITLE">Grupo 005</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mx-auto justify-content-center mt-4">
                        <div class="col col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">LÓPEZ SÁNCHEZ ALICIA YESENIA M.I.</h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>#</th>
                                            <th>Nombre</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Manolo Zerrweck Vázquez</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Loredo Silva Juan Ignacio</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Luna Dimas Juan Manuel</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Garza Villarreal Jorge Luis</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Hernández Hernández Luis Fernando</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Barrera Garza Fernanda Gabriela</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Miguel Ángel Cabrera cruz</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td> Puente Dimas Monica Sara</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Héctor Javier Herrera Hernández</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Salvador Sánchez Alma Nelly</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Garcia Martínez Julio Cesar</td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>Alonso López Emiliano</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Emmanuel Brandon Rodríguez Ríos</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td> Espinoza Garcia Brayan Eduardo</td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td>Raúl Roberto Ramírez Villarrea</td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>Juan Manuel Guerrero Muñoz</td>
                                            </tr>
                                            <tr>
                                                <td>17</td>
                                                <td>Santana Cepeda, Edgar Vladimir</td>
                                            </tr>
                                            <tr>
                                                <td>18</td>
                                                <td>Karim Acuña Morales</td>
                                            </tr>
                                            <tr>
                                                <td>19</td>
                                                <td>Juarez Alejandro Alberto Alejandro</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="001" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="MICROCITLE">Grupo 001</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mx-auto justify-content-center mt-4">
                        <div class="col col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">MOJICA GARCÍA HAZAEL FERNANDO ING.</h5>
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>#</th>
                                            <th>Nombre</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Susan Jazmin Campos Morales</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>García Cerda Carlos Maximiliano</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Victor Antonio Morquecho Bernal</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>César Eugenio Rosas Argüelles</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Limones Garcia Wendy Guadalupe</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Bautista Cruz Brayan Gustavo</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Puente pecina jorge</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Daniel Ivan Badillo Armendariz</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Garza Garcia Luis Ángel</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Eduardo Martínez Jiménez</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Salinas Vallejo Irving Alejandro</td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>Flores Balleza Angel Isaac</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Francisco Javier Luna Sánchez</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>Kevin David Rodirguez Morin</td>
                                            </tr>
                                            <tr>
                                                <td>15</td>
                                                <td> Ortiz Garcia Luis Jai</td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>Martinez Davila Victor Manuel</td>
                                            </tr>
                                            <tr>
                                                <td>17</td>
                                                <td>Dávila Barrón Oswaldo Alberto</td>
                                            </tr>
                                            <tr>
                                                <td>18</td>
                                                <td>Rojas Ordaz Fernando David</td>
                                            </tr>
                                            <tr>
                                                <td>19</td>
                                                <td>Martínez Calderón Stefani Gisell</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
















    <script src="../js/foro.js"></script>
    <script src="https://kit.fontawesome.com/2a4ada2490.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>