<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maestros</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./home.html">Alumnos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <div id="usernav"></div>
            <li class="nav-item">
              <a class="nav-link" href="#" id="close"><i class="fas fa-sign-out-alt"></i></a>
            </li>
            </li>
          </ul>
        </div>
    </nav>

    <div class="row mx-auto mt-4">
      <div class="col col-md-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Maestros</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col-md-6">CASTILLO CASTRO JOSÉ ÁNGEL <hr> </div>
              <div class="col col-md-6">castillocastro@uanl.edu.mx <hr> </div>

              <div class="col col-md-6">MUÑOZ RAMÍREZ MIGUEL ÁNGEL <hr></div>
              <div class="col col-md-6">muñozramirez@uanl.edu.mx <hr></div>

              <div class="col col-md-6">LOZANO GARCÍA ANTONIO CAYETANO <hr></div>
              <div class="col col-md-6">lozanogarcia@uanl.edu.mx <hr></div>

              <div class="col col-md-6">LÓPEZ SÁNCHEZ ALICIA YESENIA <hr></div>
              <div class="col col-md-6">lopezsanchez@uanl.edu.mx <hr></div>

              <div class="col col-md-6">MOJICA GARCÍA HAZAEL FERNANDO</div>
              <div class="col col-md-6">mojicagarcia@uanl.edu.mx</div>
            </div>
          </div>      
        </div>
      </div>

      <div class="col col-md-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Chat</h5>
          </div>
          <div class="card-body">
            <button class="btn btn-block btn-primary" data-toggle="modal" data-target="#chat">Presiona para ver el Chat</button>
          </div>
        </div>   
      </div>

      <div class="col col-md-4">
        <div class="card">
            <div class="card-header">
              <h5 class="card-title">Tareas fuera de tiempo</h5>
            </div>
            <div class="card-body">
              <div id="recordatorios">
                        
              </div>
  
              <form id="formulario">
                
              </form>
            </div>
          </div>
        </div>
    </div>



    



    <div class="modal fade" id="chat" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="MICROCITLE">Chat</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span>&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <div class="embed-responsive embed-responsive-21by9">
                  <iframe src="./chat.html" class="embed-responsive-item" frameborder="0"></iframe>
                </div>
              </div>
          </div>
      </div>
    </div>


    <script src="../js/user.js"></script>
    <script src="../js/app.js"></script>
    <script src="https://kit.fontawesome.com/2a4ada2490.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>