<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./home_maestro.html">Maestro</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <div id="usernav"></div>
            <li class="nav-item">
              <a class="nav-link" href="#" id="close"><i class="fas fa-sign-out-alt"></i></a>
            </li>
            </li>
          </ul>
        </div>
    </nav>


    <div class="row mx-auto justify-content-center mt-4">
        <div class="col col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-center">Horario</h5>
                </div>
                <div class="card-body table-responsive">
                    
                    <table class="table" id="materias">
                        <thead class="text-center">
                            <tr>
                                <th>Lunes</th>
                                <th>Martes</th>
                                <th>Miercoles</th>
                                <th>Jueves</th>
                                <th>Viernes</th>
                                <th>Sabado</th>
                            </tr>
                        </thead>
                        <tbody id="res" class="text-center">
                            <tr>
                                <td>M2</td>
                                <td></td>
                                <td>M2</td>
                                <td></td>
                                <td>M2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>N1 N2 N3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>N1 N2 N3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>M2</td>
                                <td></td>
                                <td>M2</td>
                                <td></td>
                                <td>M2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>M2</td>
                                <td></td>
                                <td>M2</td>
                                <td></td>
                                <td>M2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>N1</td>
                                <td></td>
                                <td>N1</td>
                                <td></td>
                                <td>N1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>N4 N5 N6</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>N2</td>
                                <td></td>
                                <td>N2</td>
                                <td></td>
                                <td>N2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="../js/user.js"></script>
    <script src="../js//jquery.js"></script>
    <script src="../js/filtro.js"></script>
    <script src="https://kit.fontawesome.com/2a4ada2490.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>