<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="./home.html">Alumnos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <div id="usernav"></div>
            <li class="nav-item">
              <a class="nav-link" href="#" id="close"><i class="fas fa-sign-out-alt"></i></a>
            </li>
            </li>
          </ul>
        </div>
    </nav>


    <div class="row mx-auto justify-content-center mt-3">
        <div class="col col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Entrega de PIA</h5>
                </div>
                <div class="card-body">
                    <form action="" class="needs-validation" novalidate>
                        <div class="form-group">
                            <input type="file" class="form-control-file" id="exampleFormControlFile1" required>
                        </div>

                        <div class="form-group">
                            <label for="">Ingresa una descripción</label>
                            <textarea name="" id="" cols="3" rows="3" class="form-control" id="validationCustom01" required></textarea>
                            <div class="valid-feedback">
                                Campo completo!
                            </div>
                            <div class="invalid-feedback">
                                Porfavor ingresa una descripción
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row mx-auto">
                                <div class="col col-md-4">
                                    <select class="form-control" name="" id="" required>
                                        <option value="" selected disabled>Dia</option>
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                        <option value="">5</option>
                                        <option value="">6</option>
                                        <option value="">7</option>
                                        <option value="">8</option>
                                        <option value="">9</option>
                                        <option value="">10</option>
                                        <option value="">11</option>
                                        <option value="">12</option>
                                        <option value="">13</option>
                                        <option value="">14</option>
                                        <option value="">15</option>
                                        <option value="">16</option>
                                        <option value="">17</option>
                                        <option value="">18</option>
                                        <option value="">19</option>
                                        <option value="">20</option>
                                        <option value="">21</option>
                                        <option value="">22</option>
                                        <option value="">23</option>
                                        <option value="">24</option>
                                        <option value="">25</option>
                                        <option value="">26</option>
                                        <option value="">27</option>
                                        <option value="">28</option>
                                        <option value="">29</option>
                                        <option value="">30</option>
                                        <option value="">31</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Campo completo!
                                    </div>
                                    <div class="invalid-feedback">
                                        Porfavor selecciona el dia
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <select name="" id="" class="form-control" required>
                                        <option value="" selected disabled>Mes</option>
                                        <option value="">Enero</option>
                                        <option value="">Febrero</option>
                                        <option value="">Marzo</option>
                                        <option value="">Abril</option>
                                        <option value="">Mayo</option>
                                        <option value="">Junio</option>
                                        <option value="">Julio</option>
                                        <option value="">Agosto</option>
                                        <option value="">Septiembre</option>
                                        <option value="">Octubre</option>
                                        <option value="">Noviembre</option>
                                        <option value="">Diciembre</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Campo completo!
                                    </div>
                                    <div class="invalid-feedback">
                                        Porfavor selecciona el mes
                                    </div>
                                </div>
                                <div class="col col-md-4">
                                    <select name="" id="" class="form-control" required>
                                        <option value="">Año</option>
                                        <option value="">2001</option>
                                        <option value="">2002</option>
                                        <option value="">2003</option>
                                        <option value="">2004</option>
                                        <option value="">2005</option>
                                        <option value="">2006</option>
                                        <option value="">2007</option>
                                        <option value="">2008</option>
                                        <option value="">2009</option>
                                        <option value="">2010</option>
                                        <option value="">2011</option>
                                        <option value="">2012</option>
                                        <option value="">2013</option>
                                        <option value="">2014</option>
                                        <option value="">2015</option>
                                        <option value="">2016</option>
                                        <option value="">2017</option>
                                        <option value="">2018</option>
                                        <option value="">2019</option>
                                        <option value="">2020</option>
                                    </select>
                                    <div class="valid-feedback">
                                        Campo completo
                                    </div>
                                    <div class="invalid-feedback">
                                        Porfavor selecciona el año
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <select name="" id="" class="form-control" required>
                                <option value="" selected disabled>Selecciona la materia...</option>
                                <option value="">ETICA</option>
                                <option value="">CTL. MOD.</option>
                                <option value="">SIST</option>
                                <option value="">INTER. I/O HOM-MAQ</option>
                                <option value="">INT ART RED NEU</option>
                                <option value="">*MICROC</option>
                            </select>
                            <div class="valid-feedback">
                                Campo completo
                            </div>
                            <div class="invalid-feedback">
                                Porfavor selecciona la materia
                            </div>
                        </div>

                        <div class="form-group">
                            <a href="">
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>










    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();
    </script>


    <script src="../js/click.js"></script>
    <script src="../js/user.js"></script>
    <script src="https://kit.fontawesome.com/2a4ada2490.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>